<%= form_with model: [:admin, @badge], local: true do |form| %>
  <div class="form-group col-md-4">
    <%= render 'shared/errors', resources: @badge %>
    <p>
      <%= form.label :title %>
      <%= form.text_area :title %>
    </p>
    <p>
      <%= form.label :rule %>
      <%= form.text_area :rule %>
    </p>
    <p>
      <%= form.label :rule_param %>
      <%= form.text_area :rule_param %>
    </p>
    <p>
      <%= form.label :image %>
      <%= form.select :image, options_for_select(Badge.images, selected: @badge.image) %>
    </p>
    <p><%= form.submit %></p>
  </div>
<% end %>
