<h1>The "<%= @test_passage.test.title %>" Test was Completed</h1>

<div>
  <%= result_color_and_percent(@test_passage.result) %>
</div>

<ul>
  <li>Correct answers: <%= @test_passage.correct_questions %></li>
  <li>Number of questions: <%= @test_passage.questions_number %></li>
</ul>
<div class="article-actions">
  <%= link_to 'All tests', tests_path %>
</div>