<h2><%= t('.header', title: @test_passage.test.title) %></h2>

<div>
  <% if @test_passage.success? %>
    <h2 id="passed" class="alert alert-success">You answered <%= @test_passage.result %>% questions.
        Test successfully passed!</h2>
  <% else %>
    <h2 id="failed" class="alert alert-danger">You answered <%= @test_passage.result %>% questions.
        Test failed!</h2>
  <% end %>
</div>

<ul>
  <li>Correct answers: <%= @test_passage.correct_questions %></li>
  <li>Number of questions: <%= @test_passage.questions_number %></li>
</ul>
