<div class="row justify-content-center mt-3">
  <div class="col col-md-4">

    <div>
      Time_left: <%= content_tag :span, '', class: 'timer', data: {timeleft: @test_passage.timer_seconds} %>
    </div>

    <%= content_tag :progress, id: 'progressbar', class: 'progress-bar', max: 100,
                    data: { question_number: @test_passage.current_question_number,
                    count_of_questions: @test_passage.questions_number } do; end%>

    <h2 class="text-info">Passing the "<%= @test_passage.test.title %>" Test</h2>
    <h4> Choose answer for question "<%= @test_passage.current_question.body %>"</h4>
    <h4> Question number <%= @test_passage.current_question_number %> of <%= @test_passage.questions_number %></h4>
    <br>
    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>

      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body do |b| %>
        <p>
          <%= b.check_box id: "answer_ids_#{b.object.id}" %>
          <%= b.label %>
        </p>
      <% end %>
      <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
      <p><%= form.submit 'Next', class: 'btn btn-primary ' %></p>
    <% end %>
  </div>
</div>
