<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h4 class="text-info"><%= t('.header', title: @test.title, count: @test.questions.count) %></h4>

    <h4 class="text-info"><%= t('.level', level: @test.level) %></h4><br>

    <h5><%= link_to t('new_question'), new_admin_test_question_path(@test) %></h5>

    <ol><%= render @test.questions %></ol>

    <h6><%= link_to t('edit'), edit_admin_test_path(@test) %></h6>
    <h6><%= link_to t('back'), admin_tests_path(@test) %></h6>
  </div>
</div>
